.come-in {
  transform: translateY(200px);
  animation: come-in 1s ease forwards;
}

@keyframes come-in {
  to {
    transform: translate3d(0, 0, 0);
  }
}

#custom-text {
  padding: 4.125rem;
  background: #dedede;

  .block-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: auto;

    .text-container {
      margin-left: 10%;
      max-width: 414px;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: $gray-darker;
    text-transform: uppercase;
  }

  p {
    font-size: 1.1rem;
    font-weight: 400;
    color: $gray-darker;

    .dark {
      font-size: 1.125rem;
      font-weight: 600;
      color: $gray-darker;
    }
  }

  img {
    max-width: 550px;
    height: auto;
  }
}

.page-content.page-cms {
  padding: 1.25rem;
  text-align: justify;
  background: #fff;

  .cms-box {
    img {
      max-width: 100%;
    }
  }

  ul {
    @extend p;
    list-style: disc inside none;
  }
}

@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}

@media (max-width: 999px) {
  #custom-text {
    padding: 10%;

    .block-container {
      flex-direction: column-reverse;

      .text-container {
        max-width: 514px;
        margin: 0 0 2rem 0;
      }
      img {
        width: 100%;
      }
    }
  }
}
